@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  /* fonts */
  --roboto: "Roboto", sans-serif;
  --nova-flat: "Nova Flat", cursive;
  --open-sans: "Open Sans", sans-serif;
  --archivo: "Archivo Black", sans-serif;
  /* colors */
  --dark: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);
  --shade-grey: hsl(270, 3%, 16%);
  --bright-red: #e71a23;
  --blur-grey: #999999;
  --ash: #f2f2f2;
  /* primary btn properties */
  --btn-padding: 16px 36px;
  --btn-border-radius: 4px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto);
}

.header {
  width: 100%;
  height: 100vh;
}

.nav-bar {
  display: flex;
  align-content: center;
  justify-content: space-around;
  gap: 50%;
  padding: 15px;
  height: 10%;
}

.logo img {
  width: 80%;
}

.hamburger-menu {
  font-weight: 800;
  font-size: 1.9rem;
}

.hero-section {
  background-image: url("./assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: 75%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 90%;
}

.hero-text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: var(--open-sans);
  font-size: 2.8rem;
  padding-bottom: 100px;
}

.underlined-services {
  padding-top: 5px;
  font-family: var(--archivo);
  font-size: 3.8rem;
}

.underlined-services::after {
  content: " ";
  position: absolute;
  background: white;
  width: 320px;
  height: 15px;
  transform: translateX(-330px) translateY(100px);
}

.hero-icons {
  display: none;
}

.section-1,
.section-2,
.section-3 {
  display: flex;
  flex-direction: column;
}

.section-1 {
  background: var(--ash);
  height: 80vh;
  align-items: center;
  justify-content: center;
  gap: 7%;
  text-align: center;
}

.section-1-heading {
  color: var(--blur-grey);
}

.section-1-heading2 {
  font-size: 3rem;
}

.section-1-p {
  font-family: var(--open-sans);
  font-size: 1.4rem;
  width: 80%;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);
}

.book-btn {
  background-color: var(--bright-red);
  color: var(--white);
}

.section-2 {
  height: 90vh;
}

.section-2-container-1,
.section-2-container-2 {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 80%;
}

.section-2,
.section-2-container-1,
.section-2-container-2 {
  align-items: center;
  justify-content: space-around;
}

.section-2-img-container {
  position: relative;
  width: 100%;
  height: 60%;
}

.section-2-img-container img {
  width: 100%;
  height: 100%;
}

.section-2-p {
  font-family: var(--open-sans);
  font-weight: 300;
  width: 80%;
  text-align: left;
}

.section-2-h2 {
  color: var(--bright-red);
}

@media screen and (min-width: 1023px) {
  .hero-section {
    align-items: flex-start;
    background-size: cover;
    background-position: 100% 5%;
  }

  .hero-container {
    transform: translateX(100px);
  }

  .hero-text {
    font-size: 3.5rem;
  }

  .underlined-services {
    font-size: 6rem;
  }

  .underlined-services::after {
    width: 550px;
    transform: translateX(-550px) translateY(150px);
  }
  .hero-icons,
  .icon-article {
    display: flex;
  }

  .hero-icons {
    justify-content: space-between;
  }

  .icon-article {
    text-transform: uppercase;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: white;
  }

  .section-2 {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .section-2-container-1,
  .section-2-container-2 {
    height: 100%;
  }

  .section-2-container-1 {
    align-items: flex-end;
  }

  .section-2-container-2 {
    align-items: flex-start;
  }

  .section-2-img-container {
    width: 70%;
    height: 60%;
  }

  .section-2-p {
    width: 60%;
  }

  .section-2-h1,
  .section-2-h2 {
    font-size: 2.25rem;
  }
}
