@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital,wght@1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Sacramento&display=swap");

:root {
  /* Font sizes */
  --bigger: 4rem;
  --big: 2.5rem;
  --medium: 2rem;
  --small: 1rem;

  /* Fonts */
  --roboto: "Roboto", sans-serif;
  --playfair-display: "Playfair Display", serif;
  --lora: "Lora", serif;
  --bellota-text: "Bellota Text", cursive;
  --sacramento: "Sacramento", cursive;

  /* colors */
  --primary: #cfa3aa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--playfair-display);
}

.hero-section,
.section,
.footer {
  position: relative;
  width: 100%;
}

.hero-section {
  background-image: url("./assets/images/banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
}

.hamburger-icon,
.hero-text-h1,
.section-heading,
.section-text {
  color: white;
}

.section-text {
  font-family: var(--lora);
}

.hamburger-icon {
  font-size: var(--medium);
}

.hero-text {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.hero-text-h1,
.section-heading {
  font-size: var(--bigger);
  font-weight: 900;
}

.hero-text-p-box {
  width: 50%;
  height: 70%;
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  background-color: white;
  font-family: var(--bellota-text);
  overflow-y: auto;
}

.section:nth-child(2n - 1) {
  background-color: var(--primary);
}

.section-1 {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1-text {
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-left: 5rem;
  color: white;
}

.bold-text {
  font-size: 1.7rem;
  width: 65%;
  line-height: 2.65rem;
  text-align: justify;
}

.big-h {
  font-weight: 900;
  font-size: var(--big);
}

.light-text {
  font-family: var(--lora);
  width: 50%;
  text-align: left;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery-grid img {
  width: 100%;
  height: 100%;
}

.section-3 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.form-label {
  display: none;
}

.section-3-form {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section-3-form :is(input, button),
.add-to-cart-btn,
.subscribe-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 165px;
  font-size: 0.75rem;
}

.section-3-form input::placeholder {
  color: #524c4c7e;
}

.section-3-form button,
.add-to-cart-btn,
.subscribe-btn {
  background-color: black;
  padding-right: 2rem;
  padding-left: 2rem;
  color: white;
  cursor: pointer;
}

.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  padding: 2rem;
}

.section-4 img {
  max-width: 25%;
  max-height: 90%;
}

.section-4-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 50%;
  height: 90%;
  padding: 2rem;
}

.section-4-text {
  font-family: var(--lora);
}

.author-name {
  font-size: var(--big);
  font-family: var(--sacramento);
  color: palevioletred;
}

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.item-slide {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 90%;
  padding: 2rem;
}

.item-slide img {
  width: 20%;
}

.forward-arrow {
  color: white;
  font-size: var(--bigger);
  font-family: var(--roboto);
}

.section-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 70vh;
}

.product-showcase {
  display: flex;
  gap: 10px;
  width: 30%;
}

.product-showcase img {
  width: 50%;
}

.sample-info {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.sample-heading {
  font-family: var(--lora);
  font-size: 1.7rem;
}

.sample-price {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 1.6rem;
}
.sample-info-text {
  text-align: left;
  font-family: var(--bellota-text);
  font-weight: 500;
}

.add-to-cart-btn {
  width: 40%;
}

.footer {
  display: flex;

  height: 80vh;
}

.footer img {
  width: 45%;
}

.subscription {
  display: flex;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.subscribe-heading {
  color: black;
}

.subscribe-heading::before {
  content: " ";
  position: absolute;
  background-color: #9e5d68;
  width: 40%;
  height: 10px;
  transform: translateX(-20%);
}

.subscription-form {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-fields input {
  padding: 0.5rem;
  border: 1px solid #111111;
}

.input-fields input::placeholder {
  color: #524c4c7e;
}

.more-info-text {
  text-align: center;
}

.social-handles {
  font-size: 1.6rem;
  cursor: pointer;
}
