<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rest api tester</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
  </head>
  <body>
    <form id="file-upload-form" enctype="multipart/form-data">
      <input type="file" name="profile_pic" id="avatar" />
    </form>
    <form id="request-form" enctype="multipart/form-data">
      <div class="request-container">
        <select id="request-method-selector" name="request-method">
          <option value="GET" selected>GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
        </select>
        <input type="text" name="requestUrl" id="request-url-input" />
        <button id="submit-btn" type="submit">Send</button>
      </div>
      <div class="input-output-section">
        <textarea
          id="request-body-data"
          placeholder="{}"
          cols="30"
          rows="10"
        ></textarea>

        <div class="request-result-box">
          <pre id="request-result"></pre>
        </div>
      </div>
    </form>
  </body>
</html>
