<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <label> POST</label>
    <form action="user/new" method="POST" enctype="multipart/form-data">
      <input type="file" name="profile_pic" />
      <button type="submit">send</button>
    </form>

    <label>PUT</label>
    <form action="user/update/3" method="POST" enctype="multipart/form-data">
      <input type="file" name="profile_pic" id="photo" />
      <button type="submit">send</button>
    </form>
  </body>
</html>
